/* Google Fonts */
@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap);

/* Global */


body {
  height: calc(100vh - 8em);
  padding: 4em;
  color: rgba(255, 255, 255, 0.75);
  font-family: "Roboto Mono", monospace;
  background-color:#0a192f;
}

h1 span{
  color:#64ffda;
}

.container{
  display:inline-block;
}

.typed-out {
  position: relative;
  top: 50%;
  width: 0;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 1s steps(20, end) forwards,
             blink .8s infinite;
}

@keyframes typing{
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink{
  from{border-color:transparent}
  to{border-color:2px solid rgba(255, 255, 255, 0.75)}
}

#about-me h2{
  color:#64ffda;
}

ul li{
  color:#64ffda;
}

#contact h2{
  color:#64ffda;
}

#projects h2{
  color:#64ffda;
}